#root{
  background-color: #282c34;
}

.app-parent{
  margin: 0px;
  width: 100%;
  height: 90vh;
}

.navigation{
  height: 200px;
}

.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.App-logo {
  animation: spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.input-list-form{
  display: inline-block;
  text-align: right;
}

.input-list-courses{
  display: flex;
  flex-direction: column;
}

.course-wrapper{
  border: 2px solid grey;
  border-radius: 25px;
  text-align: center;
  padding: 2vh 1vw;
  animation: expand 1 1s ease-in;
  max-width: 95vw;
  margin: 10px auto;
}
.course-wrapper *{
  animation: fade-in 0.5s 1 1s ease-out backwards;
}

.course-delete-icon{
  float: right;
  width: 4vh;
  height: 4vh;
}


.input-list-wrapper{
  display: flex;
  flex-direction: row-reverse;
  margin: 5px;
}

.input-list-label{
  display: inline-block;
  text-align: right;
  height: 60px;
  line-height: 60px;
}

.input-list-selector{
  display: inline-block;
  margin: 10px;
  padding: 15px 32px;
  font-size: 16px;
  height: 50px;
  width: 300px;
}

@media screen and (max-width: 500px) {
  .input-list-wrapper{
    flex-direction: column-reverse;
  }

  .input-list-label {
    display: none;
  }
}

.input-list-button{
  margin: 10px auto;
  padding: 15px 32px;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  background-color: #4CAF50;
  color: white;
  border: none;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .input-list-label {
    display: none;
  }
}


table{
  border-collapse: collapse;
  margin: 0px 30px;
}

table, td, th{
  border: 1px solid grey;
  text-align: center;
  padding: 10px;
}

th{
  padding: 15px;
  width: 20%;
}

.prev-class-table{
  margin: 10px;
  border: 1px solid blue;
}

@media screen and (max-width: 500px) {
  .full-times-table{
    display: none;
  }

  .prev-class-table{
    padding: 5px;
  }
}

.cls-graph-parent{
  display: flex;
  align-items: center;
}

.cls-graph-outline{
  border: 2px solid black;
  border-radius: 30px;
  height: 25px;
  margin: 10px;
  flex-grow: 2;
}

.cls-graph-bar{
  background: repeating-linear-gradient( 
      -45deg,
      #2bed2b ,
      #2bed2b 10%, 
      #19bd19 10%, 
      #19bd19 20%
  );
                                        
  height: 100%;
  font-size: 15px;
  border-radius: 30px;
  align-items: center;
  display: inline-block;
  text-align: center;
}

.cls-graph-section{
  margin: 10px;
  text-align: center;
  font-size: 15px;
}

.cls-graph-text{
  margin: 10px;
  text-align: center;
  font-size: 15px;
  width: min-content;
  flex-grow: 1;
}

.row{
  display:flex;
  border: 0px;
  overflow-x: auto;
}

.row-item{
  margin: 20px;
  max-height: 400px;
  overflow-y: auto;
  min-width: 400px;
}

.row-item-2{
  margin: 20px;
  max-height: 400px;
  min-width: 550px;
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (max-width: 600px) {
  .row-header h2,h4{
    display: inline
  }

  .cls-graph-text{
    display: none
  }

  .cls-graph-outline{
    flex-grow: 1;
  }

  .row{
    flex-direction: column;
  }
  
  .row-item{
    min-width: 0px;
  }
  
  .row-item-2{
    min-width: 0px;
    max-height: 100vh;
  }
  
}

.column{
  display: flex;
}

.tooltip {
  position: relative;
  display: inline-block;
  margin: 0px 14px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: black;
  color: #fff;
  font-size: 12px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -120px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

@media screen and (max-width: 500px) {
  .tooltip .tooltiptext {
    top: 100%;
    right: 0%;
    left: unset;
    height: fit-content;
  }
}

.tooltip .tooltiptext-exact {
  visibility: hidden;
  width: 240px;
  background-color: black;
  color: #fff;
  font-size: 12px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -120px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}
.tooltip .tooltiptext-elapsed {
  visibility: hidden;
  width: 240px;
  background-color: black;
  color: #fff;
  font-size: 12px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  top: 100%;
  right: 0%;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip:hover .tooltiptext-elapsed {
  visibility: visible;
  opacity: 1;
}

.tooltip:hover .tooltiptext-exact {
  visibility: visible;
  opacity: 1;
}

.tooltip-image{
  width: 37px;
  height: 37px;
}

.loader {
  display: inline-block;
  width: 150px;
  height: 150px;

  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 1s ease infinite;
}

.loadertext{
  color: white;
}

.loadercontainer{
  background-color: #282c34;
  text-align: center;
}

.heading-label{
  padding: 1vh;
  color: white;
  font-size: 5vh;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

.heading-label-small{
  padding: 10px;
  color: #dddddd;
  font-size: 15px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

.dataClass{
  background-color: #282c34;
}

.dataHeader{
  width: 100vw;
  text-align: center;
  height: 10vh;
}

.dataTitle{
  margin: -5px 0px 0px 0px;
  color: #ccc;
  font-weight: bold;
  font-size: 30px;
  font-size: 8vh;
  display: inline-block;
}

.backButton{
  width: 5vh;
  height: 5vh;
  transform: rotate(45deg);
  border-left: 1.2vh solid #ccc;
  border-bottom: 1.2vh solid #ccc;
  border-radius: 5px;
  display: inline-block;
  float: left;
  transform: translate(50%, 50%) rotate(45deg);
}

.fwdButton{
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  border-right: 12px solid #ccc;
  border-bottom: 12px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  float: right;
  margin: 0px 40px;
  transform: translate(50%, 50%) rotate(-45deg);
}

.displayHeader{
  display: flex;
}

.toggle-switch-container{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  display: flex;
}

.toggle-switch{
  margin: 14px;
}

.toggle-switch-text{
  text-align: center;
  margin: auto;
  font-size: 17px;
}


.home-init{
  left: 0%;
  width: 100%;
  position: absolute;
}

.home-hide{
  animation: scrollOutLeft 0.4s ease 1 forwards;
  left: 0%;
  width: 100%;
  position: absolute;
  display: none;
}

.home-show{
  animation: scrollInRight 0.4s ease 1 forwards;
  left: 0%;
  width: 100%;
  position: absolute;
}

.data-init{
  left: 100%;
  width: 100%;
  position: absolute;
  display: none;
}

.data-show{
  animation: scrollInLeft 0.4s ease 1 forwards;
  left: 0%;
  width: 100%;
  position: absolute;
}

.data-hide{
  animation: scrollOutRight 0.4s ease 1 forwards;
  position: absolute;
  width: 100%;
  left: 0%;
  display: none;
}

.disp-init{
  left: 100%;
  width: 100%;
  position: absolute;
  display: none;
}

.disp-show{
  animation: scrollInLeft 0.4s ease 1 forwards;
  left: 0%;
  width: 100%;
  position: absolute;
}

.disp-hide{
  animation: scrollOutRight 0.4s ease 1 forwards;
  position: absolute;
  width: 100%;
  left: 0%;
  display: none;
}

.detail-slider-wrapper{
  display: flex;

}

.slider {
  appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

/*
.backButton{
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-right: 25px solid #666;
  border-bottom: 25px solid transparent;
  margin-left: 5%;
  display: inline-block;
  float: left;
  transform: translate(0%, 50%);
}
*/

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes scrollInLeft {
  0% { transform: translate(100%); }
  100% { transform: translate(0%); }
}

@keyframes scrollInRight {
  0% { transform: translate(-100%); }
  100% { transform: translate(0%); }
}

@keyframes scrollOutRight {
  0% { transform: translate(0%); }
  100% { transform: translate(100%); }
}

@keyframes scrollOutLeft {
  0% { transform: translate(0%); }
  100% { transform: translate(-100%); }
}

@keyframes expand {
  0% {width: 0px; left: 50%; }
  100% {width: 100%; left: 0%; }
}

@keyframes fade-in {
  0% { opacity: 0 }
  100% { opacity: 1}
}

